# Ignorar todos los contenidos que salen al compilar el documento principal
main.*
q.log
!main.tex
*.lol
*.log
*.out
*.pdf

# Ignorar todos los contenidos que salen al compilar los documentos modulares
modular/*
!modular/[a-zA-Z]*.tex

# Ignorar output de codigo
code/*/a.out
